* {
    box-sizing: border-box;
}


.header {
    display: flex;
    margin-bottom: 44px;
}
.headerImg {
    width: 292px;
    margin-right: 30px;
}
.headerImgWrap {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.headerImgWrap img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.descriptionEdit {
    display: flex;
    margin-bottom: 20px;
}

.descriptionEdit h2 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    margin: 0;
}

.descriptionEditButton {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.editButton {
    background-color: transparent;
    border: 1px solid #dbdbdb;
    text-decoration: none;
    color: #262626;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: inherit;
}

.descriptionEditSettings {
    margin-left: 5px;
    margin-top: auto;
}

.descriptionPosts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.descriptionName {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

.history {
    margin-bottom: 44px;
}

.menu{
    border-top: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
}

.menuMain {
    height: 52px;
    margin-right: 60px;
}

.menuLink{
    display: flex;
    text-decoration:  none;
    margin-top: 15px;
    color: #262626;
}
.menuLink svg{
    margin-top: auto;
    margin-bottom: auto;
}
.menuText {
    margin-left: 6px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    max-width: 957px;
}

.mainPosts {
    margin-right: 28px;
    margin-bottom: 26px;
}
.mainPostsImg img{
    width: 200px;
    height: 200px;
}