




.ribbonWrapper {
    width:500px;
    background-color:rgb(10, 235, 10);
} 

.feed_foot  {
    width:500px;
    height:56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed_img {
    width:42px;
    height: 42px;
    text-align: center;
    
}
.feed_img img {

}
.feed_foot img {
    margin-top: 5px;
    width: 33px;
    text-align: center;
}

.feed_block {
    width:368px;
    height:40px;
    margin-left: 10px;
    
}

.feed_block h4 {
    
    margin-top: 10px;
}

.feed_btn {
    width:40px;
    height:40px;

}
.feed_btn button {
   width: 24px;
   margin: 9px;
   border:none;
}
.feed_file img {
    width:500px;

    
}
.feed_file {
    
}

.likes_comms {
     width:450px;
     height: 46px;
    
     
}
.likes_comms  img {
    width:24px;
}
.likes_controller {
    width:100px;
    display: flex;
    justify-content: space-between;
}
.save  {
    width:350px;
    display: flex;
    justify-content:right;
    margin-top: -22px;
    margin-left: 145px;
} 

.like_sect {
    width:450px;
    margin-top: -30px;
}
.ig_name {
    margin-top: -10px;
}
.comments_sec h4 {
   font-size: 10px;
   color:grey;
}
.time_sec {
    font-size: 10px;
    color:grey;
}
.footer_sec {
    display: flex;
    justify-content: space-between;
}
.footer_img img  {
    width:24px;
}

.footer_sec {
   display: flex;
   justify-content: space-between;
}
.footer_comtns {
    width:480px;
    margin-right: 100px;
    display: flex;
    
    
}
.footer_comtns input {
    border:none;
    width:300px;
    height: 30px;
    margin-left:10px;
}
.footer_comtns button {
    border:none;
    margin-left:25px;
}
