.ribbonWrapper {
  width: 900px;
  margin-bottom: 50px;
  background-color: rgb(248, 248, 248);
  margin: 50px auto;
}

.feed_foot {
  width: 900px;
  height: 56px;
  display: flex;
  align-items: center;
}
.feed_foot h4 {
  font-size: 22px;
  margin: 0;
  margin-left: 15px;
}
.feed_foot img {
  margin-left: 10px;
  border-radius: 50%;
}

.feed_img {
  width: 42px;
  height: 42px;
  text-align: center;
}

.feed_block {
  width: 368px;
  height: 40px;
  margin-left: 10px;
}

.feed_btn {
  width: 40px;
  height: 40px;
}
.feed_btn button {
  width: 24px;
  margin: 9px;
  border: none;
}
.feed_file img {
  width: 900px;
  height: 900px;
}

.likes_comms {
  padding: 10px 0px 0px 15px ;
  display: flex;
  justify-content: space-between;
}
.likes_comms svg {
 cursor: pointer;
}

.likes_comms img {
  width: 24px;
}
.likes_controller {
  width: 65px;
  display: flex;
  justify-content: space-between;
}

.like_sect span {
  margin: 0;
  font-weight: 600;
}
.like_sect {
  padding-left: 15px;
  margin-bottom: 10px;
}
.likes {
  font-size: 20px;
  color: rgb(13, 198, 255);
}
.comments {
  padding-left: 15px;
  background-color: rgb(248 248 248);
  margin-bottom: 5px;
  border-radius: 5px;
}
/* .commentsWrapper {
  overflow-y: scroll;
  height: 150px;
} */

.ig_name {
  cursor: pointer;
  padding-left: 15px;
  margin-bottom: 5px;
}
.ig_name h4 {
  margin: 0;
}
.comments_sec {
  padding-left: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.comments_sec span {
  font-size: 14px;
  color: grey;
}
.comments_sec .commentCounter {
  color: rgb(13, 198, 255);
  font-size: 17px;
  font-weight: 600;
}

.footer_sec {
  display: flex;
  justify-content: space-between;
}

.footer_sec input {
  outline: none;
  width: 80%;
  padding: 15px;
  border: 1px solid #d4d4d4;
  border-right: 0;
  font-size: 18px;

}
.footer_sec button {
  width: 20%;
  cursor: pointer;
  border: 1px solid #d4d4d4;
  background-color: #fff;
  color: rgb(69, 69, 69);
  font-size: 16px;
  font-weight: 600;
  border-left: 0;
}

.postText {
  font-size: 17px;
  font-weight: 600;
  color: rgb(68, 68, 68);
  margin: 10px 0;
  padding-left: 15px;
  width: 40%;
}

.ig_name a {
  font-size: 26px;
  font-weight: 700;
}

.userNickName {
  display: flex;
}

.userNickName img {
  border-radius: 100px;
}

.userLogin {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 16px;
}
.feed_foot a {
  font-size: 20px;
  font-weight: 600;
  margin-left: 15px;
}