header {
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgb(212, 212, 212);
}
.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 975px;
    margin: 0 auto;

}
header input {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    width: 250px;
    outline: none;
    background-color: #efefef;
}
.iconsWrapper {
    display: flex;
}