.main {
    display: flex;
    flex-wrap: wrap;
    max-width: 957px;
}

.mainPosts {
    margin-right: 28px;
    margin-bottom: 26px;
    position: relative;
}
.mainPostsImg img{
    width: 200px;
    height: 200px;
}